@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Chocolates";
  src: url("../public/tt-chocolate/tt-chocolates-demibold.otf") format("opentype");
}

/* @font-face {
  font-family: "TT Chocolates";
  src: url("../public/font/TT-Chocolates-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
} */

body {
  margin: 0;
  font-family: "TT Chocolates";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

